div {
  border: 1px solid grey;
  /* margin: 5px; */
  padding: 5px;
}

.bed {
  background-color: cornflowerblue;
}

.bath {
  background-color: aquamarine;
}

#floor-plan {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

#bedroom-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

#living-room {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  background-color: cornsilk;
}

#Full-bath, #bedroom-2 {
  grid-row: 1 / 3;
}

#kitchen {
  grid-row: 3 / 5;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 65% 35%;
  padding: 0;
  background-color:blanchedalmond
}

#oven {
  grid-area: 2 / 1 / 3 / 2;
  background-color: gray;
}

#sink {
  grid-area: 2 / 2 / 3 / 3;
  background-color: lightgray;
}

#sink > h4, #oven > h4 {
  margin: 0;
}

